.barchart-widget {
    margin-bottom: 24px;
    position: relative;
}

.barchart-widget .barchart-legend {
    margin-bottom: 30px;
    padding: 0;
}

.barchart-widget .barchart-legend--horizontal {
    display: grid;
    gap: 8px ​16px;
    grid-template-columns: repeat(auto-fit, 250px);
}

.barchart-widget .barchart-legend--vertical {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.barchart-widget .barchart-legend li {
    align-items: center;
    display: flex;
    list-style: none;
}

.barchart-widget .barchart-legend li:hover {
    cursor: pointer;
}

.barchart-widget .barchart-legend p {
    margin: 0;
}

.barchart-widget .barchart-legend span {
    border-radius: 50px;
    display: block;
    height: 16px;
    margin-right: 8px;
    width: 16px;
}

.barchart-widget .barchart-chart {
    align-self: center;
    display: flex;
    grid-template-columns: repeat(100, 1fr);
    grid-auto-flow: column;
    margin: 0;
    padding: 0;
}

.barchart-widget .barchart-chart li {
    list-style: none;
    min-height: 20px;
    position: relative;
}

.barchart-widget .barchart-chart.barchart-chart--rounded li:first-of-type {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.barchart-widget .barchart-chart.barchart-chart--rounded li:last-of-type {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.barchart-widget .barchart-chart li:hover {
    cursor: pointer;
}

.barchart-widget .barchart-chart li .barchart-tooltip {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
    will-change: opacity;
    width: max-content;
    z-index: 1;
}

.barchart-widget .barchart-chart li .barchart-tooltip.align-right {
    right: 0;
}

.barchart-widget .barchart-chart li .barchart-tooltip p {
    margin: 0;
    padding: 4px 8px;
}

.barchart-widget .barchart-chart li.show-tooltip .barchart-tooltip {
    opacity: 1;
    transform: translateY(-60%);
}

.barchart-widget .barchart-meter {
    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
}

.barchart-widget .barchart-meter .item {
    background-color: black;
    height: 9px;
    width: 1px;
}

.barchart-widget .barchart-indicators {
    display: flex;
}

.barchart-widget .barchart-indicator {
    flex: 1;
}

.barchart-widget .barchart-indicator:nth-child(2) {
    text-align: center;
}

.barchart-widget .barchart-indicator:last-of-type {
    text-align: right;
}

.barchart-widget .barchart-tooltip {
    position: absolute;
}
